.theme_bg

{

	background-image:none;

	background-repeat:no-repeat;

	background-size:cover;	

	background: linear-gradient(left , rgb(30, 31, 212) 11% , rgb(117, 72, 179) 80%);
background: -o-linear-gradient(left , rgb(30, 31, 212) 11% , rgb(117, 72, 179) 80%);
background: -ms-linear-gradient(left , rgb(30, 31, 212) 11% , rgb(117, 72, 179) 80%);
background: -moz-linear-gradient(left , rgb(30, 31, 212) 11% , rgb(117, 72, 179) 80%);
background: -webkit-linear-gradient(left , rgb(30, 31, 212) 11% , rgb(117, 72, 179) 80%);






}