.theme_bg

{

	background-image:none;

	background-repeat:no-repeat;

	background-size:cover;	

	background: linear-gradient(left , rgb(0, 0, 0) 1% , rgb(49, 156, 72) 2% , rgb(200, 85, 246) 6% , rgb(181, 247, 163) 8% , rgb(58, 223, 9) 9% , rgb(173, 126, 167) 11% , rgb(245, 243, 198) 18% , rgb(187, 118, 126) 20% , rgb(122, 31, 229) 32% , rgb(210, 167, 105) 35% , rgb(84, 77, 185) 38% , rgb(207, 131, 195) 51% , rgb(53, 66, 222) 61% , rgb(41, 127, 147) 70% , rgb(63, 55, 75) 72% , rgb(139, 156, 139) 77% , rgb(0, 0, 0) 80% , rgb(214, 207, 143) 85% , rgb(16, 245, 159) 86%);
background: -o-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(49, 156, 72) 2% , rgb(200, 85, 246) 6% , rgb(181, 247, 163) 8% , rgb(58, 223, 9) 9% , rgb(173, 126, 167) 11% , rgb(245, 243, 198) 18% , rgb(187, 118, 126) 20% , rgb(122, 31, 229) 32% , rgb(210, 167, 105) 35% , rgb(84, 77, 185) 38% , rgb(207, 131, 195) 51% , rgb(53, 66, 222) 61% , rgb(41, 127, 147) 70% , rgb(63, 55, 75) 72% , rgb(139, 156, 139) 77% , rgb(0, 0, 0) 80% , rgb(214, 207, 143) 85% , rgb(16, 245, 159) 86%);
background: -ms-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(49, 156, 72) 2% , rgb(200, 85, 246) 6% , rgb(181, 247, 163) 8% , rgb(58, 223, 9) 9% , rgb(173, 126, 167) 11% , rgb(245, 243, 198) 18% , rgb(187, 118, 126) 20% , rgb(122, 31, 229) 32% , rgb(210, 167, 105) 35% , rgb(84, 77, 185) 38% , rgb(207, 131, 195) 51% , rgb(53, 66, 222) 61% , rgb(41, 127, 147) 70% , rgb(63, 55, 75) 72% , rgb(139, 156, 139) 77% , rgb(0, 0, 0) 80% , rgb(214, 207, 143) 85% , rgb(16, 245, 159) 86%);
background: -moz-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(49, 156, 72) 2% , rgb(200, 85, 246) 6% , rgb(181, 247, 163) 8% , rgb(58, 223, 9) 9% , rgb(173, 126, 167) 11% , rgb(245, 243, 198) 18% , rgb(187, 118, 126) 20% , rgb(122, 31, 229) 32% , rgb(210, 167, 105) 35% , rgb(84, 77, 185) 38% , rgb(207, 131, 195) 51% , rgb(53, 66, 222) 61% , rgb(41, 127, 147) 70% , rgb(63, 55, 75) 72% , rgb(139, 156, 139) 77% , rgb(0, 0, 0) 80% , rgb(214, 207, 143) 85% , rgb(16, 245, 159) 86%);
background: -webkit-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(49, 156, 72) 2% , rgb(200, 85, 246) 6% , rgb(181, 247, 163) 8% , rgb(58, 223, 9) 9% , rgb(173, 126, 167) 11% , rgb(245, 243, 198) 18% , rgb(187, 118, 126) 20% , rgb(122, 31, 229) 32% , rgb(210, 167, 105) 35% , rgb(84, 77, 185) 38% , rgb(207, 131, 195) 51% , rgb(53, 66, 222) 61% , rgb(41, 127, 147) 70% , rgb(63, 55, 75) 72% , rgb(139, 156, 139) 77% , rgb(0, 0, 0) 80% , rgb(214, 207, 143) 85% , rgb(16, 245, 159) 86%);






}